@model HamburgerMVC.Models.Menu

@{
    ViewData["Title"] = "Details";
}
<div class="text-center">
<h1>Details</h1>
    <h4>Menu</h4>
</div>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hamburger)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hamburger.HamburgerAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YanUrun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YanUrun.YanUrunAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icecek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icecek.IcecekAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Boy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Boy.BoyAdi)
        </dd>
    </dl>
</div>
<div class="text-center">
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.MenuID">Güncelle</a> |
    <a asp-action="Index">Listeye Dön</a>
</div>
