@model IEnumerable<HamburgerMVC.Models.Menu>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}
<div class="text-center">
<h1>Menuler</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Oluştur</a>
</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuFiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hamburger.HamburgerAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YanUrun.YanUrunAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icecek.IcecekAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boy.BoyAdi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MenuAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuFiyat)
            </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.Resim) *@
                    <img src="~/KapakResimleri/@item.Resim" width="120px" height="90px" />
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hamburger.HamburgerAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YanUrun.YanUrunAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icecek.IcecekAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boy.BoyAdi)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.MenuID">Güncelle</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.MenuID">Detaylar</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MenuID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
