@model IEnumerable<HamburgerMVC.Models.Icecek>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}
<div class="text-center">
<h1>İçecekler</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Oluştur</a>
</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IcecekAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IcecekFiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IcecekAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IcecekFiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resim)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IcecekID">Güncelle</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IcecekID">Detay</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IcecekID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
