@model Hamburger_VM

@{
	ViewData["Title"] = "Create";
	Layout = "_AdminLayout";
}

<div class="text-center">

<h4>Hamburger Ekle</h4>
<hr />
<div class="row justify-content-center">
	<div class="col-md-4">
		<form asp-action="Create" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Hamburger.HamburgerAdi" class="control-label"></label>
				<input asp-for="Hamburger.HamburgerAdi" class="form-control" />
				<span asp-validation-for="Hamburger.HamburgerAdi" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Hamburger.HamburgerFiyat" class="control-label"></label>
				<input asp-for="Hamburger.HamburgerFiyat" class="form-control" />
				<span asp-validation-for="Hamburger.HamburgerFiyat" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Hamburger.Resim" class="control-label"></label>
				<input asp-for="Hamburger.Resim" class="form-control" />
				<span asp-validation-for="Hamburger.Resim" class="text-danger"></span>
			</div>
			<div class="form-group">
				@foreach (var malzeme in Model.EkMalzemeListesi)
				{
					<input type="checkbox" name="SeciliEkMalzemelerID" value="@malzeme.Value" id="@malzeme.Value"
					@(Model.SeciliEkMalzemelerID.Contains(int.Parse(malzeme.Value)) ? "checked" : "") />
					<label asp-for="@malzeme.Value">@malzeme.Text</label>

					<br />
				}
			</div>


			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Listeye Dön</a>
</div>


</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
