@model Hamburger_VM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hamburger</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hamburger.HamburgerAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hamburger.HamburgerAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hamburger.HamburgerFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hamburger.HamburgerFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hamburger.Resim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hamburger.Resim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hamburger.HamburgerEkMalzemes)
        </dt>

        
        <div class="form-group">
            @foreach (HamburgerEkMalzeme hamburgerEkMalzeme in Model.elist)
            {
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => hamburgerEkMalzeme.EkMalzeme.EkMalzemeAdi)
                </dd>
                                 
            }
        </div>



    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Hamburger.HamburgerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
