@model IEnumerable<HamburgerMVC.Models.Hamburger>

@{
	ViewData["Title"] = "Index";
	Layout = "_AdminLayout";
}
<div class="text-center">
<h1>Hamburgerler</h1>

<p>
	<a class="btn btn-success" asp-action="Create">Oluştur</a>
</p>
</div>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.HamburgerAdi)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.HamburgerFiyat)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Resim)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.HamburgerAdi)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.HamburgerFiyat)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Resim)
				</td>
				<td>
					<a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.HamburgerID">Edit</a> |
					<a class="btn btn-info" asp-action="Details" asp-route-id="@item.HamburgerID">Details</a> |
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.HamburgerID">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
