@using HamburgerMVC.Models.ViewModels
@model Menu_VM

@{
    ViewData["Title"] = "Index";
}

<h1>Siparis Ekrani</h1>

<div class="row justify-content-between">

   
        @foreach (var item in Model.mlist)
        {

            <div class="card mb-5" style="width:18rem;">

                <img src="~/KapakResimleri/@item.Resim" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.MenuAdi)
                    </h5>
        <p class="card-text">
                        @Html.DisplayFor(modelItem => item.Hamburger.HamburgerAdi)
        
        
                        @Html.DisplayFor(modelItem => item.YanUrun.YanUrunAdi)
       
        
                        @Html.DisplayFor(modelItem => item.Icecek.IcecekAdi)
       
        
                        @Html.DisplayFor(modelItem => item.Boy.BoyAdi)

        </p>
                    <h3>@Html.DisplayFor(modelItem => item.MenuFiyat)</h3>


                    <a asp-area="UyePaneli" asp-controller="Cart" asp-action="Add" asp-route-id="@item.MenuID">SepeteEkle</a>
        
        </div>
        </div>
        <br />
        }
</div>