@model IEnumerable<HamburgerMVC.Models.Sos>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<div class="text-center">
<h1>Soslar</h1>


    <a class="btn btn-success" asp-area="YonetimPaneli" asp-controller="Sos" asp-action="Create">Sos Oluştur</a>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SosAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SosFiyat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SosAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SosFiyat)
            </td>
            <td>
                    <a class="btn btn-warning" asp-area="YonetimPaneli" asp-action="Edit" asp-route-id="@item.SosID">Guncelle</a> |
                    <a class="btn btn-info" asp-area="YonetimPaneli" asp-action="Details" asp-route-id="@item.SosID">Detaylar</a> |
                    <a class="btn btn-danger" asp-area="YonetimPaneli" asp-action="Delete" asp-route-id="@item.SosID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
