@model HamburgerMVC.Models.EkMalzeme

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}
<div class="text-center">
<h1>Details</h1>
</div>



<div>
    <h4>EkMalzeme</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EkMalzemeAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EkMalzemeAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EkMalzemeFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EkMalzemeFiyat)
        </dd>
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resim)
        </dd> *@
    </dl>
</div>

<div class="text-center">
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.EkMalzemeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

</div>
