@model IEnumerable<HamburgerMVC.Models.EkMalzeme>

@{
    ViewData["Title"] = "Index";
}
<div class="text-center" >
<h1>Ek Malzemeler</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Ek Malzeme Oluştur</a>
</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EkMalzemeAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EkMalzemeFiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EkMalzemeAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EkMalzemeFiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resim)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.EkMalzemeID">Guncelle</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.EkMalzemeID">Detaylar</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.EkMalzemeID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
