@model IEnumerable<HamburgerMVC.Models.EkMalzeme>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EkMalzemeAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EkMalzemeFiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EkMalzemeAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EkMalzemeFiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resim)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EkMalzemeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EkMalzemeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EkMalzemeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
